$bgblue : #1469FF;
$black : #010000;
$deepBlue : #0027C8;
$pink : #FF3C82;
$w : #fff;
%abcenter {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
%abcenter2 {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}